@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 56px;
    color: #F9BF45;
    line-height: 80px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    color: #999;
    line-height: 29px;
    padding: 3% 5%;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: rgb(250, 214, 137);
    line-height: 50px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

ul, li {
    list-style-type: none;
    text-align: justify;
    display: inline-block;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

.clear-fix {
    overflow: auto;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

.full-screen {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.biopic {
    margin: auto;
    padding: 10px;
    height: 200px;
    border-radius: 20px;
    //round corners
  margin: 0 auto;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.center-text {
    text-align: center;
}

.orange {
    background-color: rgba(250, 214, 137, 0.8);
}

.orange-text {
    color: #F9BF45;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.gray {
    background-color: rgba(97, 97, 56, 0.3);
    padding-bottom: 10px;
    clear: both;
    display: block;
}

.white {
    background-color: rgba(250, 214, 137, 0.1);
    padding-bottom: 10px;
    clear: both;
    display: block;
}

.dark-gray {
    background-color: rgba(55, 60, 56, 0.8);
}


/* TODO: Replace with image later */
#header {
    background-color: rgba(55, 60, 56, 0.8);
}

#header-info {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#topContacts {
    width: 50%;
    margin: auto;
}

#main {
    background: url("../images/paper.jpg") repeat fixed center;
}

#skills-h3 {
    color: #F9BF45;
    display: none;
    text-align: center;
}

#lets-connect {
    text-align: center;
}

#map {
    display: block;
    height: 60%;
    margin: 5% 5% 5% 5%;
}

#mapDiv {
    padding-bottom: 5%;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    };
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    };
}
